.nav-panel {
  background-color: #4a85bbff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-panel-el {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
